:root {
  --scale: calc(1 / 2);
  --width: 1920px;
  --height: 1080px;
}

canvas, video {
  display: block;
  height: calc(var(--height) * var(--scale));
  width: calc(var(--width) * var(--scale));
}

canvas.done {
  display: none;
}

video:not([src]) {
  display: none;
}
